<nav class="main__nav">
    <div class="logo">
        <a href="/">
            <img src="https://angular-indonesia.github.io/assets/angular-indonesia.png" alt="Angular Indonesia">
        </a>
    </div>
    <ul>
        <li>
            <a href="#tentang-kami" title="">Tentang Kami</a>
        </li>
        <li>
            <a href="#hubungi-kami" title="">Hubungi Kami</a>
        </li>
        <li>
            <a href="/blogs/" title="">Blog</a>
        </li>
    </ul>
</nav>
<header class="main__header">
    <div class="cover">
        <img src="https://angular-indonesia.github.io/assets/angular-indonesia.png" class="logo-big">
        <div class="content">
        	Komunitas Pengguna Angular Indonesia
        </div>
    </div>
</header>

<article class="main__article">
	<h3 id="tentang-kami">Tentang Kami</h3>
	<div class="content">
		Lorem ipsum dolor sit amet, ubique instructior ex eum, epicuri praesent an vim. Graeco torquatos vituperatoribus cum ut, porro altera aperiri cum ut. Cu facer temporibus pri, in eius vivendum perpetua mei. Mel ad movet electram. Nec brute corpora cu. Graece epicurei nam eu.

		Eam appareat scaevola forensibus ne. Liber nemore noluisse quo id, no duo fabulas fierent. Ut his modus minim quodsi, id nam soleat definitiones. Ne mea verterem splendide, causae sensibus pertinacia his eu. Sed sint repudiandae ut, eu qui illud minimum interesset.

		In dicam maiorum intellegam duo. Et eum brute accusata maiestatis, tota choro in duo, sea quod possit detraxit ei. Errem alterum deserunt eam id, ad quod graeco appetere eam, novum omnium te per. Vulputate assueverit nec ea.

		Eu ullum iriure usu, mea in oratio commune. Mea sint probatus eu. Stet mucius ad eos. Modus interesset eos ei, qui veri assum consectetuer at. Vis verear menandri imperdiet at, civibus accusamus per in.

		Sed albucius maluisset consequat eu, vim ex detracto fabellas verterem. Legere quaeque ea ius. Ancillae lobortis invenire ea mei. Assum regione posidonium mea in, aeterno debitis phaedrum an vis. Per latine feugait ut. Sapientem incorrupte id ius, fastidii singulis at duo.
	</div>
</article>

<footer class="main__footer">
	<div class="col-3">
		<div class="logo-footer"></div>
	</div>
	<div class="col-3">
		<h3>Bacaan Menarik</h3>

		<ul class="list-block">
            <li>
                <a rel="nofollow" href="#">
                    Lorem Ipsum
                </a>
            </li>
            <li>
                <a rel="nofollow" href="#">
                    Lorem Ipsum
                </a>
            </li>
            <li>
                <a rel="nofollow" href="#">
                    Lorem Ipsum
                </a>
            </li>
            <li>
                <a rel="nofollow" href="#">
                    Lorem Ipsum
                </a>
            </li>
        </ul>	
	</div>
	<div class="col-3">
		<h3>Bantuan</h3>	

		<ul class="list-block">
            <li>
                <a rel="nofollow" href="#">
                    Lorem Ipsum
                </a>
            </li>
            <li>
                <a rel="nofollow" href="#">
                    Lorem Ipsum
                </a>
            </li>
            <li>
                <a rel="nofollow" href="#">
                    Lorem Ipsum
                </a>
            </li>
            <li>
                <a rel="nofollow" href="#">
                    Lorem Ipsum
                </a>
            </li>
        </ul>	
	</div>
	<div class="col-3" id="hubungi-kami">
		<h3>Sosial Media</h3>	
		<ul class="list-inline">
            <li>
                <a rel="nofollow" href="https://m.facebook.com/groups/462764390497214">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://github.com/angular-indonesia">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://angular-indonesia.github.io">
                    <i class="fa fa-globe"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://angular-indonesia.github.io/blogs">
                    <i class="fa fa-wordpress"></i>
                </a>
            </li>
        </ul>	
	</div>
</footer>
