<nav class="main__nav">
    <div class="logo">
        <a [attr.href]="rootURL">
            <img [src]="logoURL" alt="Angular Indonesia">
        </a>
    </div>
    <ul>
        <li>
            <a href="#tentang-kami" title="">Tentang Kami</a>
        </li>
        <li>
            <a href="#hubungi-kami" title="">Hubungi Kami</a>
        </li>
        <li>
            <a href="/blogs/" title="">Blog</a>
        </li>
    </ul>
</nav>
<header class="main__header">
    <div class="cover">
        <img [src]="logoURL" class="logo-big">
        <div class="content">
        	<h1>Komunitas Pengguna Angular Indonesia</h1>
        </div>
        <div class="content">
            <a href="#join-us" class="join-us-btn">Bergabung</a>
        </div>
    </div>
</header>

<article class="main__article">
	<h3 id="tentang-kami">Tentang Kami</h3>
	<div class="content">
        <p>
            Kami merupakan komunitas yang pengguna Angular di Indonesia, 
            kami saling bertukar informasi, sharing knowledge, bertanya jawab berbagai permasalahan mengenai Angular. Kami sadar bahwa untuk menemukan artikel mengenai Angular serta berbagai macam tips, trik dan pemecahan masalah menggunakan framework Angular tidaklah mudah apalagi bila mencari berbahasa Indonesia, untuk itulah tujuan kami adalah saling memudahkan sesama pengguna Angular dalam menerapkan framework Angular kedalam kode mereka.
        </p>
        <p>
            Kami berawal dari <a href="https://m.facebook.com/groups/462764390497214" target="_blank">Facebook Group</a>, kemudian membuat satu <a href="https://github.com/angular-indonesia" target="_blank">Github Organization</a> yang selanjutnya ingin membuat satu blog atau publikasi untuk memuat berbagai artikel yang kami kumpulkan mengenai Angular dalam bahasa Indonesia. Anda bisa juga saling bertukar pengetahuan dengan member lain lewat channel Telegram <a href="https://t.me/AngularID" target="_blank">AngularID</a> dengan lebih santai.
        </p>
	</div>

    <h3 id="join-us">Bergabung Bersama Kami</h3>
    <div class="content">
        <p>
            Facebook : <a rel="nofollow" href="https://m.facebook.com/groups/462764390497214" target="_blank">https://m.facebook.com/groups/462764390497214</a>
            <br/>
            Github : <a rel="nofollow" href="https://github.com/angular-indonesia" target="_blank">https://github.com/angular-indonesia</a>
            <br/>
            Telegram : <a rel="nofollow" href="https://t.me/AngularID" target="_blank">https://t.me/AngularID</a>
            <br/>
            Blog : <a rel="nofollow" href="https://angular-indonesia.github.io/blogs" target="_blank">https://angular-indonesia.github.io/blogs</a>
        </p>
    </div>
</article>

<footer class="main__footer">
	<div class="col-3">
		<div class="logo-footer"></div>
	</div>
	<div class="col-3">
		<h3>Bacaan Menarik</h3>

		<ul class="list-block">
            <li>
                <a rel="nofollow" href="https://angular.io/docs/ts/latest/" target="_blank">
                    Dokumentasi Angular
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://angular.io/docs/ts/latest/quickstart.html" target="_blank">
                    Quick Start Angular
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://angular.io/resources/" target="_blank">
                    Librari & Tools
                </a>
            </li>
        </ul>	
	</div>
	<div class="col-3">
		<h3>Bantuan</h3>	

		<ul class="list-block">
            <li>
                <a rel="nofollow" href="https://m.facebook.com/groups/462764390497214" target="_blank">
                    Facebook
                </a>
            </li>
            <li>
                <a rel="nofollow" href="http://stackoverflow.com/questions/tagged/angular2" target="_blank">
                    Stackoverflow
                </a>
            </li>
        </ul>	
	</div>
	<div class="col-3" id="hubungi-kami">
		<h3>Sosial Media</h3>	
		<ul class="list-inline">
            <li>
                <a rel="nofollow" href="https://m.facebook.com/groups/462764390497214" target="_blank">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://github.com/angular-indonesia" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://t.me/AngularID" target="_blank">
                    <i class="fa fa-telegram"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://angular-indonesia.github.io" target="_blank">
                    <i class="fa fa-globe"></i>
                </a>
            </li>
            <li>
                <a rel="nofollow" href="https://angular-indonesia.github.io/blogs" target="_blank">
                    <i class="fa fa-rss"></i>
                </a>
            </li>
        </ul>	
	</div>
</footer>
